.main {
  max-width: $break-medium;
  padding: 30px 30px 0 30px;
  margin: auto;
  text-align: justify;
}
.md-card-media+.md-card-header {
  padding-top: 8px;
}

.custom-md-card {
  margin: 8px 0;
}

.md-card-content {
  padding-top: 0;
}

.md-progress-bar {
  height: 3px;
  margin: 5px 0;
}
